#Section1,#HeaderLogo {
    background-color: #1f2937
}
#HeaderLogo {
    margin-bottom: 0px;
    padding: 5px;
    font-size: 24px;
}
#HeaderLogo div {
    font-size: 16px;
}
#Simple1 {
    font-size: 48px;
    color: #F9FAF8;
}

.placeholder {
    font-size: 18px;
    color: #E5E7EB;

}