h4#HeaderLogo {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 48px;
}

#Section1 {
    height: 700px;
    margin:0%;
    width: auto;
    background-color: #1F2937;
}